<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %> </title>
		<!-- links------------------------------ -->
		<link rel="stylesheet" href="../public/styles.css" />
	</head>
	<body style="background-color: #53667b;">
		<!-- Landing Page-------------------------------------------- -->
		<div class="landing_container">
			<br><br><br><br><br>
			<h1
				>Welcome to the Serhant Construction Company. Please choose a department
				from the options below.</h1
			><br><br><br><br>

			<!-- Landing Page-------------------------------------------- -->
			<div class="btns">
				<a href="/emp_login">Employee</a>
				<a href="/sup_login">Supervisor</a>
				<a href="/acc_login">Accounts</a>
			</div>
		</div>
	</body>
</html>
